
body {
  background-image: url(../imagenes/Agregar\ un\ título.png);
  margin: 0;
  padding: 0;
  background-size: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.selection-item {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selection-item:hover {
  background-color: #f5f5f5;
}

.selection-item.active {
  background-color: #00f;
  color: #fff;
}

.promotion-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 50%;
}

.promotion-title {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease;
}

.promotion-title.active {
  background-color: #00f;
  color: #fff;
}

.promotion-details {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  display: none;
  transition: all 0.3s ease;
}



.buy-button {
  display: none;
  padding: 15px 32px;
  margin: 4px 2px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  background: linear-gradient(to right, #007bff, #dc3545);
  background-size: 200% auto;
  background-position: right center;
  background-position-x: right; /* Add this line */
  transition: background-size 0.5s ease;
}

.buy-button:hover {
  background-color: #00bfff;
  background-position-x: left; /* Change this line */
    transition: background-position-x 2s ease; /* Add this line */
}